body{
    margin: 0px;
    padding: 0px;
}

.max-half{
    max-width: 50%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

nav{
    margin: 20px;
}

.min-img-width{

}



.flex-enlinea{
    display: inline-flex;
}

.sm-pad{
    padding: 15px;
}

.welcome.fs-4{
    justify-content: center;    
}

@media (max-width: 991px) {
    .max-half{
        max-width: 100%;
    }

    .welcome{
        display: none;
    }

    .flex-enlinea{
        display: flex;
        flex-wrap: wrap-reverse;
    }
}



