body {
  margin: 0px;
  padding: 0px;
  justify-content: center;
  background-color: #212529d9; }

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: silver;
  border-image: initial; }

.card-body {
  background-color: rgba(53, 45, 74, 0.55); }

.card-text {
  font-size: x-large;
  color: beige; }

.vehicle-name {
  color: lightskyblue; }

.blackish-bg-gold-text {
  background-color: rgba(10, 10, 10, 0.75);
  color: #e2a54b;
  text-align: center; }

nav {
  margin: 20px;
  max-width: 95%; }

.dropdown-item {
  color: black; }

.nav-link {
  color: beige; }
  .nav-link.active {
    color: beige !important; }

.navbar-brand {
  color: beige; }

.no-margin-pad {
  margin: 0px;
  padding: 0px; }

.sm-pad {
  padding: 0px 10px;
  margin-bottom: 5px; }

.sm-margin {
  margin: 4px; }

.max-half {
  max-width: 50%;
  margin: 0px;
  padding: 0px;
  justify-content: center; }

.flex-enlinea {
  display: inline-flex; }

.fs-4 {
  color: beige;
  text-align: center;
  border: 1px solid rgba(97, 90, 97, 0.728); }
  .fs-4 a {
    text-decoration: none;
    background: #254652;
    color: beige;
    padding: 2px;
    border-radius: 14px;
    transition: background-color 0.5s;
    transition: color 0.5s; }
    .fs-4 a:hover {
      background-color: gold;
      color: black; }

footer {
  background-color: bisque;
  text-align: center; }

@media (max-width: 991px) {
  .max-half {
    max-width: 100%;
    margin: 20px; }
  .welcome {
    display: none; }
  .flex-enlinea {
    display: flex;
    flex-wrap: wrap-reverse; } }

@media (max-width: 570px) {
  .row {
    padding: 2px;
    margin: 4px 0px; }
  .card-body {
    padding: 2px; } }
