$light-color-text: beige;
$dark-color-text: black;
$darkish-color-bg: #212529d9;


body{
    margin: 0px;
    padding: 0px;
    justify-content: center;
    background-color: $darkish-color-bg;
}

.max-half{
    max-width: 50%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

nav{
    margin: 20px;
    max-width: 95%;
}

.dropdown-item{
    color: $dark-color-text;
}

.nav-link{
    color: $light-color-text;
    &.active{
        color: $light-color-text!important;
    }
}

.navbar-brand{
    color: $light-color-text;
}


.flex-enlinea{
    display: inline-flex;
}

.sm-pad{
    padding: 0px 10px;
    margin-bottom: 5px;
}

.sm-margin{
    margin: 4px;
}

.fs-4{
    color: $light-color-text;
    text-align: center;
    border: 1px solid rgba(97, 90, 97, 0.728);
        a{
            text-decoration: none;
            background: #254652;
            color: $light-color-text;
            padding: 2px;
            border-radius: 14px;
            transition: background-color 0.5s;
            transition: color 0.5s;
            &:hover{
                background-color: gold;
                color: black;
            }
        }
}


.no-margin-pad{
    margin: 0px; 
    padding: 0px;
}

.blackish-bg-gold-text{
    background-color: rgba(10, 10, 10, 0.75);
    color: rgb(226, 165, 75);
    text-align: center;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

footer{
    background-color: bisque;
    text-align: center;
}

.card-body{
    background-color: rgba(86, 72, 125, 0.55);
}

.card-text{
    font-size: x-large;
    color: $light-color-text;
}

@media (max-width: 991px) {
    .max-half{
        max-width: 100%;
        margin: 20px;
    }

    .welcome{
        display: none;
    }

    .flex-enlinea{
        display: flex;
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 570px){
    .row{
        padding: 2px;
        margin: 4px 0px;
    }

    .card-body{
        padding: 2px;
    }
}